<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PREDICT
    </title>
</head>
<body>
    <div align="center">
        <h2>预测胜率</h2>
        <br>
        <form method="post">
            <label for="hero1">hero1</label>
            <input type="text" name="hero1" id="hero1"><br>
            <br>
            <label for="hero2">hero2</label>
            <input type="text" name="hero2" id="hero2"><br>
            <br>
            <input type="submit"> 
        </form>
        {#天辉对夜魇的胜率为{{win_rate}}#}
    </div>

</body>


</html>